body {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container__content {
  margin-top: 80px;
  height: calc(100vh - 80px);
  margin-left: 300px;
}

.main-container__content__title {
  margin-left: 10px;
}

.main-container__content__subject-code {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.main-container__content__subject-code > input {
  width: 180px;
  height: 20px;
}

.main-container__class-info-table {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  display: block;
}

.main-container__class-info-table::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: white;
  height: 100%;
  table-layout: fixed;
}

th {
  background-color: rgb(233, 230, 230);
  color: rgb(104, 104, 104);
  text-align: center;
  font-weight: bold;
  border: 1px solid rgb(104, 104, 104);
  height: 50px;
  max-height: 54px;
}

td {
  text-align: center;
  border: 1px solid rgb(104, 104, 104);
  height: 33.07px;
  max-height: 37px;
}

tr:hover {
  background-color: rgb(223, 220, 220);
}

.main-container__division {
  margin-top: 30px;
}
